<form [formGroup]="form" (ngSubmit)="guardarForm1()">

    <mat-tab-group>
      
      <mat-tab label="Formulari 1" class="column1">
        <div class="primerBtn">
          <input type="text" (keyup.enter) = "cambiarValor()" formControlName="name" >
              <br>
          <button (click)="guardarForm1()"> {{ etiqueta }} </button>
        </div>

        <div class="primerBtn">
          <input type="text" (keyup.enter) = "cambiarValor()" formControlName="name" >
              <br>
          <button (click)="guardarForm1()"> {{ etiqueta }} </button>
        </div>

        <div class="primerBtn">
          <input type="text" (keyup.enter) = "cambiarValor()" formControlName="name" >
              <br>
          <button (click)="guardarForm1()"> {{ etiqueta }} </button>
        </div>
        
          <div class="guardar()">
            <button type="button" (click)="almacenar()">
              Guardar
            </button>
          </div>

      </mat-tab>



      <mat-tab label="Formulario 2" >
        


      </mat-tab>



      <mat-tab label="Formulario 3">
        


      </mat-tab>


    </mat-tab-group>

</form>